.blog {
  padding: 62px 0 88px;

  .blog__container {
    @include content-block;
    max-width: 728px;
  }

  .blog__title {
    @include title;
    margin: 0 0 52px;
  }

  .blog__items {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;

    & .items__subject:focus {
      transform: scale(1.1);
      z-index: 2;
      transition: position 1s, transform 1s, padding 1s;
      outline: 1px solid $alternativeBackgroundColor;
    }
    & .items__subject:first-child:focus {
      transform: scale(1.1) translateX(85%);
    }
    & .items__subject:last-child:focus {
      transform: scale(1.1) translateX(-85%);
    }

    .items__subject {
      width: 33.3%;
      text-align: center;
      background: $siteMainColor;
      transition: position 1s, transform 1s, padding 1s;

      &:hover {
        .subject__button {
          background-color: $alternativeBackgroundColor;
          color: $buttonTextColor;
        }
      }

      .subject__image-container {
        margin-bottom: 34px;
      }
    }

    .subject__info-block {
      padding: 0 15px;

      .subject__title {
        padding: 0 10px;
      }

      .subject__date {
        color: $subTextColor;
        margin-bottom: 15px;
      }

      .subject__description {
        font-size: 14px;
        margin-bottom: 24px;
      }

      .subject__button {
        background-color: $blogButtonBackground;
        color: $buttonTextColor;
      }
    }
  }
}
