body {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 33px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 29.5px;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.header__menu.menu {
  width: 100%;
}

.header__menu.menu .menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header__menu.menu .menu__list .menu__item {
  list-style: none;
  padding: 0 2px 0 32px;
}

.header__menu.menu .menu__list .menu__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 10.5px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: -0.1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu.menu .menu__list .menu__link:hover {
  color: #ffe26d;
}

.slider {
  position: relative;
  margin-bottom: 78px;
}

.slider__slide.slide {
  background: url(../img/main-banner.jpg);
  padding: 182px 0 258.6px;
}

.slider__slide.slide .slide__content {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
}

.slider__slide.slide .slide__content .slide__title {
  font-size: 40.5px;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  letter-spacing: -0.9px;
  padding-right: 31.5%;
  color: #fff;
  padding-bottom: 30px;
}

.slider__slide.slide .slide__content .slide__text {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 35px;
  margin: 0;
  padding-right: 32%;
  letter-spacing: 0.2px;
}

.slider__slide.slide .slide__content .slide__button {
  height: 43px;
  width: 125px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__slide.slide .slide__content .slide__button:hover {
  color: #ffffff;
  background-color: #62497c;
}

.slider__dots {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 38px;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 692px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__dots .slider__dot {
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.6;
  margin-right: 6.8px;
}

.slider__dots .slider__dot_active {
  opacity: 1;
}

.intro {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
}

.intro__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin-bottom: 68px;
}

.intro__content.content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
}

.intro__content.content .content__image {
  margin-top: -14px;
}

.intro__content.content .content__text {
  font-family: "Roboto", sans-serif;
  font-size: 29.5px;
  font-weight: 100;
  line-height: normal;
  text-align: left;
  color: #040405;
  margin: 0;
  padding-right: 10%;
}

.reasons {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  max-width: 804px;
}

.reasons .reasons__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 58px;
}

.reasons .reasons__items .items__subject {
  text-align: center;
  margin: 0 36px;
}

.reasons .reasons__items .items__subject .subject__image-container {
  width: 81px;
  height: 81px;
  background-color: #62497c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.reasons .reasons__items .items__subject .subject__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.reasons .reasons__items .items__subject .subject__title {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #62497c;
  margin-bottom: 20px;
}

.reasons .reasons__items .items__subject .subject__description {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: rgba(4, 4, 5, 0.39);
  line-height: 1.9;
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: 12.5px;
}

.reasons .reasons__items .items__subject .subject__cta {
  height: 43px;
  width: 125px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffe26d;
}

.reasons .reasons__items .items__subject .subject__cta:hover {
  color: #ffffff;
  background-color: #62497c;
}

.reasons .reasons__items .items__subject .subject__info-block {
  display: block;
}

.reasons .reasons__separate {
  height: 2px;
  background: rgba(4, 4, 5, 0.39);
  width: 86%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.projects {
  margin-bottom: 78px;
}

.projects__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin-top: 0;
  margin-bottom: 46px;
}

.projects__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.projects__items .items__subject:nth-child(2n + 2) .subject__info-block {
  background: #e4e4e4;
}

.projects__items .items__subject:hover .subject__info-block {
  background: #ffe26d;
}

.projects__items .items__subject:hover .subject__cta {
  color: #ffffff;
  background-color: #62497c;
}

.projects__items .items__subject .subject__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__items .items__subject .subject__image-container .subject__image {
  width: 350px;
}

.projects__items .items__subject .subject__info-block {
  padding: 46px 35px 47px 44px;
  background: #efefef;
}

.projects__items .items__subject .subject__title {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #000000;
  margin-top: 0;
  margin-bottom: 8px;
}

.projects__items .items__subject .subject__description {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: rgba(4, 4, 5, 0.39);
  margin-bottom: 12px;
}

.projects__items .items__subject .subject__cta {
  height: 43px;
  width: 162px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  margin-bottom: 82px;
}

.price .price__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin-top: 0;
  margin-bottom: 34px;
}

.price .price__block {
  width: 100%;
  text-align: center;
}

.price .price__block .price__separate .price__seprarate-block {
  background-color: #dedede;
  height: 194px;
  width: 2px;
}

.price .price__block .price__wrapper {
  width: 33%;
  text-align: center;
}

.price .price__block .price__wrapper:nth-child(2n + 2) {
  width: auto;
}

.price .price__block .price__wrapper:hover .item__button .item__cta {
  color: #ffffff;
  background-color: #62497c;
}

.price .price__block .price__wrapper .price__item {
  width: 100%;
  text-align: center;
}

.price .price__block .price__wrapper .item__title {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #040405;
  padding-bottom: 15px;
}

.price .price__block .price__wrapper .item__cost {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: rgba(4, 4, 5, 0.39);
  text-transform: capitalize;
  padding-bottom: 8px;
}

.price .price__block .price__wrapper .item__decription {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: #000;
  font-size: 10.5px;
  line-height: 2.1;
  padding-bottom: 18px;
}

.price .price__block .price__wrapper .item__button .item__cta {
  height: 28px;
  width: 82px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video {
  background: #62497c;
  overflow: hidden;
  margin-bottom: 70px;
}

.video__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  color: #fff;
  margin: 0 0 40px;
  padding-top: 76px;
}

.video .video__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-392px);
          transform: translateX(-392px);
  margin-bottom: 112px;
}

.video .video__wrapper .video__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video .video__wrapper .video__item:last-child .video__timer {
  display: none;
}

.video .video__wrapper .video__item .video__image {
  position: relative;
  margin-bottom: 20px;
}

.video .video__wrapper .video__item .video__image::after {
  content: "";
  background: url(../img/playIcon.png) no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video .video__wrapper .video__item .video__image.video__image_constant-width::after {
  left: 50%;
}

.video .video__wrapper .video__item .video__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video .video__wrapper .video__item .video__info .video__name {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #fff;
  font-size: 10.5px;
}

.video .video__wrapper .video__item .video__info .video__timer {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #fff;
  font-size: 10.5px;
}

.team {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  max-width: 780px;
  margin-bottom: 74px;
}

.team .team__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin: 0 0 44px;
}

.team .team__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.team .team__wrapper .team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3333%;
  margin-bottom: 58px;
}

.team .team__wrapper .team__item:hover .team__image::after {
  content: "";
  width: 172px;
  height: 172px;
  background-color: #62497c;
  opacity: 0.8;
  display: block;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.team .team__wrapper .team__item .team__image {
  position: relative;
  margin-bottom: 24px;
}

.team .team__wrapper .team__item .team__image .team__photo {
  border-radius: 50%;
}

.team .team__wrapper .team__item .team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .team__wrapper .team__item .team__info .team__name {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.team .team__wrapper .team__item .team__info .team__description {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: rgba(4, 4, 5, 0.39);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14.5px;
}

.environment {
  background: #efefef;
}

.environment .environment__content {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  padding-bottom: 102px;
}

.environment .environment__content .environment__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin-top: 0;
  padding-top: 70px;
}

.environment .environment__content .environment__image {
  margin-bottom: 12px;
}

.environment .environment__content .environment__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.environment .environment__content .environment__wrapper .pictures__arrow {
  width: 34px;
  height: 69px;
  background: #2a2a2a;
  position: relative;
}

.environment .environment__content .environment__wrapper .pictures__arrow:hover {
  background: #62497c;
}

.environment .environment__content .environment__wrapper .pictures__arrow.pictures__arrow_left::after, .environment .environment__content .environment__wrapper .pictures__arrow.pictures__arrow_right::after {
  content: "";
  background: url(../img/leftArrow.png) no-repeat center center;
  position: absolute;
  width: 9px;
  height: 14px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.environment .environment__content .environment__wrapper .pictures__arrow.pictures__arrow_right::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.environment .environment__content .environment__wrapper .environment__picture-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5px;
}

.newsletter {
  background: url(../img/newsletterBg.jpg) no-repeat top left;
  margin-bottom: 64px;
}

.newsletter .newsletter__wrapper {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  width: 546px;
  padding-bottom: 140px;
}

.newsletter .newsletter__wrapper .newsletter__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  color: #fff;
  margin: 0 0 26px;
  padding-top: 48px;
}

.newsletter .newsletter__wrapper .newsletter__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__input {
  width: 311px;
  height: 45px;
  border: 0;
  outline: 0;
  font-size: 19px;
  color: #040405;
  font-family: "Montserrat";
  font-weight: 400;
  width: 100%;
  height: auto;
  padding: 17px 0 19px 15px;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__input::-webkit-input-placeholder {
  font-size: 19px;
  color: #d8d8d8;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__input:-ms-input-placeholder {
  font-size: 19px;
  color: #d8d8d8;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__input::-ms-input-placeholder {
  font-size: 19px;
  color: #d8d8d8;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__input::placeholder {
  font-size: 19px;
  color: #d8d8d8;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__button {
  height: 54px;
  width: 172px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: auto;
  width: 172px;
  border-radius: 0 3px 3px 0;
}

.newsletter .newsletter__wrapper .newsletter__form .newsletter__button:hover {
  color: #ffffff;
  background-color: #62497c;
}

.blog {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  max-width: 728px;
  margin-bottom: 86px;
}

.blog::after {
  content: "";
  clear: both;
  display: table;
}

.blog .blog__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  margin: 0 0 52px;
}

.blog .blog__items .items__subject {
  width: 33.3%;
  text-align: center;
  float: left;
}

.blog .blog__items .items__subject:hover .subject__cta {
  color: #ffffff;
  background-color: #62497c;
  background-color: #ffe26d;
  color: #323232;
}

.blog .blog__items .items__subject .subject__image-container {
  margin-bottom: 30px;
}

.blog .blog__items .subject__info-block {
  padding: 0 15px;
}

.blog .blog__items .subject__info-block .subject__title {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0 10px;
}

.blog .blog__items .subject__info-block .subject__date {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: rgba(4, 4, 5, 0.39);
}

.blog .blog__items .subject__info-block .subject__description {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 26px;
}

.blog .blog__items .subject__info-block .subject__cta {
  height: 43px;
  width: 125px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ececec;
  color: #323232;
}

.contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  background: #ffe26d;
  margin-bottom: 80px;
}

.contacts .contacts__map {
  margin-right: 43px;
}

.contacts .contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contacts .contacts__wrapper .contacts__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #040405;
  text-align: left;
  margin: 40px 0 24px;
}

.contacts .contacts__wrapper .contacts__label {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 11px;
  margin-bottom: 8px;
}

.contacts .contacts__wrapper .contacts__input, .contacts .contacts__wrapper .contacts__input_large {
  width: 311px;
  height: 45px;
  border: 0;
  outline: 0;
  font-size: 19px;
  color: #040405;
  font-family: "Montserrat";
  font-weight: 400;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 18px;
}

.contacts .contacts__wrapper .contacts__input_large {
  width: 311px;
  height: 145px;
  border: 0;
  outline: 0;
  font-size: 19px;
  color: #040405;
  font-family: "Montserrat";
  font-weight: 400;
  resize: none;
}

.contacts .contacts__wrapper .contacts__button {
  height: 44px;
  width: 311px;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: 700;
  color: #323232;
  border-radius: 3px;
  background-color: #ffe26d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #62497c;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.footer .footer__wrapper {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  max-width: 720px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrapper .footer__column {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .footer__wrapper .footer__column .column__social {
  font-family: "Font Awesome 5 Brands";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.footer .footer__wrapper .footer__column .column__social .social__icon {
  width: 33.3%;
  margin-bottom: 14px;
}

.footer .footer__wrapper .footer__column .column__social .social__icon .fa-behance {
  font-size: 20px;
}

.footer .footer__wrapper .footer__column .column__title {
  font-family: "Montserrat";
  font-size: 14.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 10.5px;
}

.footer .footer__wrapper .footer__column .column__text {
  line-height: 1.74;
  font-size: 13.5px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 0;
  color: #040405;
}
/*# sourceMappingURL=style.css.map */