$containerWidth: 694px;
$sizeTitle: 44px;
$headerTextTransform: uppercase;
$buttonFontSize: 10.5px;
$buttonBorderRadius: 3px;
$buttonTextTransform: uppercase;
$mainFont: "Montserrat";
$secondaryFont: "Roboto", sans-serif;
$contentFont: "Arial", "Helvetica", sans-serif;
$aligmentItems: center;
$itemsSubtitleSize: 14.5px;
$itemsSubtitleCase: uppercase;
$itemsDescriptionSize: 13.5px;
$itemsDescriptionLineHeight: 1.74;
$siteMainColor: #fff;
$mainBackgroundColor: #62497c;
$alternativeBackgroundColor: #ffe26d;
$buttonTextColor: #323232;
$subTextColor: rgba(4, 4, 5, 0.39);
$separateColor: rgba(4, 4, 5, 0.39);
$fontWeightness: 700;
$environmentBackground: #efefef;
$environmentArrowBackground: #2a2a2a;
$blogButtonBackground: #ececec;
$footerTextColor: #040405;
$sendButtonBackgroundHover:#efefef;