@mixin content-block {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
}

@mixin button-size($buttonWidth, $buttonHeight) {
  width: $buttonWidth;
  height: $buttonHeight;
}
@mixin button($buttonWidth, $buttonHeight) {
  height: $buttonHeight;
  width: $buttonWidth;
  border: 0;
  outline: 0;
  font-family: $mainFont;
  text-transform: $buttonTextTransform;
  font-size: $buttonFontSize;
  font-weight: $fontWeightness;
  color: $buttonTextColor;
  border-radius: $buttonBorderRadius;
  background-color: $alternativeBackgroundColor;
  transition: 0.3s;
}
@mixin buttonSmall {
  @include button(82px, 28px);
}
@mixin buttonMedium {
  @include button(125px, 43px);
}
@mixin buttonLarge {
  @include button(162px, 43px);
}
@mixin buttonExtraLarge {
  @include button(172px, 54px);
}
@mixin buttonSend {
  @include button(311px, 44px);
}

@mixin buttonHover {
  color: $siteMainColor;
  background-color: $mainBackgroundColor;
}

@mixin title {
  font-family: $mainFont;
  font-size: $sizeTitle;
  font-weight: $fontWeightness;
  text-align: center;
  color: #040405;
}
@mixin itemTitle {
  font-family: $mainFont;
  font-size: $itemsSubtitleSize;
  font-weight: $fontWeightness;
  text-transform: $itemsSubtitleCase;
  margin-top: 0;
}

@mixin itemDescription {
  line-height: $itemsDescriptionLineHeight;
  font-size: $itemsDescriptionSize;
  font-family: $contentFont;
  margin-top: 0;
}
@mixin textLink {
  text-decoration: none;
}
@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin input($inputWidth, $inputHeight) {
  width: $inputWidth;
  height: $inputHeight;
  border: 0;
  outline: 0;
  font-size: 19px;
  color: #040405;
  font-family: $mainFont;
  font-weight: 400;
}
@mixin inputSmall {
  @include input(311px, 45px);
}
@mixin inputMedium {
  @include input(311px, 145px);
}
