.intro {
  &__title {
    @include title;
    margin-bottom: 68px;
  }

  &__content.content {
    display: inline-flex;
    width: 100%;
    margin-bottom: 64px;
    justify-content: space-between;

    .content__image {
      margin-top: -14px;
    }

    .content__text {
      font-family: $secondaryFont;
      font-size: 29.5px;
      font-weight: 100;
      line-height: normal;
      text-align: left;
      color: #040405;
      margin: 0;
      width: 65%;
    }
  }

  .intro__container {
    max-width: 714px;
  }

  .intro__items {
    display: inline-flex;
    margin-bottom: 58px;
    justify-content: space-between;

    .items__subject {
      text-align: $aligmentItems;
      width: 25%;

      .subject__image-container {
        width: 81px;
        height: 81px;
        background-color: $mainBackgroundColor;
        display: inline-flex;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      .subject__image {
        display: flex;
        align-items: center;
        align-self: center;
      }

      .subject__title {
        color: $mainBackgroundColor;
        margin-bottom: 20px;
      }

      .subject__description {
        color: $subTextColor;
        line-height: 1.9;
        margin-bottom: 30px;
        font-size: 12.5px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      .subject__button {
        background-color: $alternativeBackgroundColor;

        &:hover {
          @include buttonHover;
        }
      }

      .subject__info-block {
        display: block;
      }
    }
  }

  .reasons__separate {
    height: 2px;
    background: $separateColor;
    margin-bottom: 46px;
  }
}
