.blog {
  margin-bottom: 86px;

  .blog__container {
    @include content-block;
    max-width: 728px;
  }

  &::after {
    @include clearFix;
  }

  .blog__title {
    @include title;
    margin: 0 0 52px;
  }

  .blog__items {
    .items__subject {
      width: 33.3%;
      text-align: center;
      float: left;

      &:hover {
        .subject__button {
          @include buttonHover;
          background-color: $alternativeBackgroundColor;
          color: $buttonTextColor;
        }
      }

      .subject__image-container {
        margin-bottom: 34px;
      }
    }

    .subject__info-block {
      padding: 0 15px;

      .subject__title {
        padding: 0 10px;
      }

      .subject__date {
        color: $subTextColor;
        margin-bottom: 15px;
      }

      .subject__description {
        font-size: 14px;
        margin-bottom: 26px;
      }

      .subject__button {
        background-color: $blogButtonBackground;
        color: $buttonTextColor;
      }
    }
  }
}
