$containerWidth: 694px;
$sizeTitle: 44px;
$titleWeightness: 700;
$headerMainColor: #fff;
$sliderTextColor: #fff;
$headerTextTransform: uppercase;
$headerWeight: 700;
$unhoverBackground: #ffe26d;
$hoverBackground: #62497c;
$buttonTextColor: #323232;
$buttonHoverTextColor: #ffffff;
$buttonFontSize: 10.5px;
$buttonBorderRadius: 3px;
$buttonTextTransform: uppercase;
$buttonFontWeight: 700;
$siteElemntsColor: #62497c;
$mainFont: "Montserrat";
$secondaryFont: "Roboto", sans-serif;
$contentFont: "Arial", "Helvetica", sans-serif;
$aligmentItems: center;
$itemsSubtitleSize: 14.5px;
$itemsSubtitleCase: uppercase;
$itemsSubtitleWeight: 700;
$itemsDescriptionColor: rgba(4, 4, 5, 0.39);
$itemCostColor: rgba(4, 4, 5, 0.39);
$itemsDescriptionSize: 13.5px;
$itemsDescriptionLineHeight: 1.74;
$videoBackground: #62497c;
$videoTextColor: #fff;
$environmentBackground: #efefef;
$environmentArrowBackground: #2a2a2a;
$environmentHoverArrowBackground: #62497c;
$newsletterTextColor: #fff;
$blogButtonBackground: #ececec;
$blogHoverButtonBackground: #ffe26d;
$blogButtonColor: #323232;
$contactsBackground: #ffe26d;
$contactsButtonBackground: #62497c;
$contactsButtoncolor: #fff;
$footerTextColor: #040405;
$lineColor: rgba(4, 4, 5, 0.39);
