.newsletter {
  background: url(../assets/img/newsletterBg.jpg) no-repeat top left;
  margin-bottom: 64px;

  .newsletter__container {
    width: 546px;
    height: 327px;

    .newsletter__title {
      @include title;
      color: $siteMainColor;
      margin: 0 0 26px;
      padding-top: 48px;
    }

    .newsletter__form {
      display: inline-flex;
      justify-content: center;
      width: 100%;

      .newsletter__input {
        @include inputSmall;
        width: 100%;
        height: auto;
        padding: 17px 0 19px 15px;

        &::placeholder {
          font-size: 19px;
          color: #d8d8d8;
        }
      }

      .newsletter__button {
        @include buttonExtraLarge;
        height: auto;
        width: 172px;
        border-radius: 0 3px 3px 0;
        &:hover {
          @include buttonHover;
        }
      }
    }
  }
}
