.price {
  .price__container {
    max-width: 714px;
    margin-bottom: 88px;

    .price__title {
      @include title;
      letter-spacing: -0.9px;
      margin: 0 0 42px;
    }

    .price__table {
      .table__row {
        .table_framed {
          border-right: 2px solid #dedede;
        }
        & .table_framed:last-child {
          border-right: 0;
        }

        .table__title {
          @include itemTitle;
          padding-bottom: 16px;
        }

        .table__cost {
          @include itemTitle;
          color: $subTextColor;
          text-transform: capitalize;
          padding-bottom: 12px;
        }
        .table__text {
          @include itemDescription;
          font-size: 10px;
          line-height: 20px;
        }
        .table__button-wrapper {
          padding-top: 18px;
        }
      }
    }
  }
}
